<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<link rel = "stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
    <div class="form-car">
		<div class="form-car">
    		<label for="details">Enter car details: </label>
  		</div>
		<div class="form-car">
    		<label for="plate">Car Plate: </label>
    		<input type="" name="plate" id="plate" required>
  		</div>
		<div class="form-car">
    		<label for="brand">Car Brand: </label>
    		<input type="" name="brand" id="brand">
  		</div>
		<div class="form-car">
    		<label for="color">Car Color: </label>
    		<input type="" name="color" id="color">
  		</div>
		<input class="btn" type="submit" value="Create a car" onclick="createCar()">
	</div>
	
	<div id="carInfo"></div>
	
	<div class="form-wheel" style="display: none;">
		<div class="form-wheel">
    		<label for="details">Enter wheel details: </label>
			<br>
  		</div>
        
		<div class="form-wheel" >
    		<label for="diameter">Wheel Diameter: </label>
    		<input type="" name="diameter" id="diameter">
  		</div>
		<!--div class="form-wheel">
    		<label for="wheelBrand">Wheel Brand: </label>
    		<input type="" name="wheelBrand" id="wheelBrand">
  		</div-->

        <input class="btn" type="submit" value="Add a wheel" id="wheelBtn">
 
	</div> 
        
           
			<div id="wheel">
				<p>Wheels:</p>
				<p id="wheelInfo"></p>
			</div>
        
    </div>
   	<script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
</body>

